<!-- CONTENT ENDS HERE -->

    </div>  <!-- div: content container -->

    {{ if hasmath }}
        {{ insert foot_katex.html }}
    {{ end }}
    <script>
        var els =  document.querySelectorAll(".language-julia")
        for (var i=0, l = els.length; i < l; i++) {
            var el = els[i]
            var out = el.parentNode.nextSibling
            if (out.tagName === "PRE") {
                out.className = out.className + " code-output"
            }
        }
    </script>
    {{ if hascode }}
        {{ insert foot_highlight.html }}
    {{ end }}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-28835595-11"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-28835595-11');
    </script>
  </body>
</html>
