<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{if hasmath}} {{insert head_katex.html }}     {{end}}
  {{if hascode}} {{insert head_highlight.html }}   {{end}}
  {{insert style.html}}
  {{isdef title}} <title>{{fill title}}</title>  {{end}}
</head>
<body>
{{insert sidebar.html}}

{{isdef airtime}}
<div id="sync-play-wrap" style="margin-left: 4rem; margin-top: 3em; display: none">
    <input type="checkbox" id="sync-play" name="sync-play" checked>
    <label for="sync-play">Synchronize play when the class is live</label>
</div>
{{end}}
<!-- Content appended here -->
