@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

h1 {
    border-bottom: 1px solid #999 !important;
    margin-bottom: 1em !important;
}

h1, h2 {
    color: #555;
    font-family: 'PT Sans Caption';
    font-weight: bold;
}

html, body {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
}



.content {
    padding-top: 0;
}

.frankin-content {
    margin-top: 2em;
}
.franklin-content pre > code {
    border: 1px solid #6B8E2340;
    padding: 1.5em;
    border-radius: 0;
}
pre.code-output {
    background: #6B8E2340;
    padding-left: 0.5em;
}

.code-output code {
    border-radius: 0;
    padding-left: 1em !important;
    background: white;
}

.docstring {
    border: 1px solid #f1f1f1;
    padding: 1em;
    margin-bottom: 2em;
}

.franklin-content .docstring h2.doc-header {
    font-size: 1.25em;
    color: #008080;
    margin: 16px 0;
}

.franklin-content .docstring h1 {
    font-size: 1.2em;
}
.franklin-content .docstring h2 {
    font-size: 1em;
}

.docstring .doc-type {
    font-size: 1em;
    color: #6B8E2350;
    float: right;
}

.franklin-content h1 {
    margin-bottom: 0;
    font-size: 1.66em;
    border: none;
}
.franklin-content h2 {
    border: none;
    font-size: 1.33em;
    font-style: normal;
    font-weight: bold;
}

.sidebar-about h1 {
    font-family: 'Recursive', sans-serif;
    border-bottom: none !important;
}

@media (min-width: 768px) {
    .sidebar-nav {
    }
}
.sidebar .container.sidebar-sticky {
    top: 1rem;
}
.sidebar-nav .sidebar-nav-item.active {
    box-sizing: border-box;
    border-bottom: 1px #f1f1f1 solid;
    margin-right: -1em;
    margin-left: -0.5em;
    padding-left: 0.5em;
    color: white;
    font-weight: normal !important;
}
.sidebar-nav .sidebar-nav-item {
    color: #cccccc;
    margin: 0.25em 0;
}

h1 {
    margin-top: 2em;
}
h2 {
    margin-top: 1em;
}
